
*{
    scroll-behavior: smooth;
}




body{
    margin: 0px;
    padding: 0px;

    
    
}

html{
    overflow-x: hidden;
}
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');





.first li a{
    text-decoration: none;
    color:black;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;

}

    .first {
        
        display: flex;
        justify-content: center;
        margin: 0;
        background-color: white;
        padding: 0px 50px 1px 1px;
        
        
    }
    
    
.img1{
    margin-right: 600px;
    
}

.first li{
    margin: 17px;
    

}
.top li a{
    text-decoration: none;
    color: white; 
    font-size: 10px;
    font-family: bold;
    
}
.top ul{
    display: flex;

    background-color: rgb(64, 64, 159);
    padding: 1px 1px 1px 1100px;
    margin: 0px;
   

}
.top li{
    margin: 10px;
    
}



button:hover{
    background-color:white;
    color:black;
    padding: 2px 2px 2px 2px;
border-radius: 12px;
}

button{
    border-radius: 12px;
    background-color: rgb(64, 64, 159);
    color: white;
    width: 100px;
}

.meddiv {
 text-align: center;
 background-image: url(https://static.vecteezy.com/system/resources/previews/006/469/271/non_2x/abstract-white-background-with-halftone-texture-free-vector.jpg);
 height: 500px;

}
.ap{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding: 90px 0px 0px 0px;
}
    

.thired{
    text-align: center;
}

.bp{
    font-size: 50px;
    color: blue;
}




.runimg{
    display: flex;

    padding: 0px 70px 0px 70px;
    
   
}

.runimg img{

    width: 70px;
    margin: 24px;
}
.d1{

    display: flex;
    justify-content: center;
    padding-left: 400px;
    
}
.fourth ul{ 
     background-image: url(p1.png);
     height: 300px;
    width: 100%;
    text-align: ;
    margin-right: 200px;

}
.fourth li a{
    text-decoration: none;
    color: white;
    font-size: 42px;
    padding: 65px;
    
}

.fifth ul{ 
    background-image: url(p2.png);
    height: 300px;
   width: 100%;
   margin-left: 40px;

}
.fifth li a{
   text-decoration: none;
   color: white;
   font-size: 42px;
   padding: 65px;
   
}


.sixth ul{ 
    background-image: url(p3.png);
    height: 300px;
   width: 45%;
   margin-left: 80px;
   

}
.sixth li a{
   text-decoration: none;
   color: white;
   font-size: 40px;
   padding: 65px
   
   }

   .d2{
    background-image: url(https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg);
    text-align: center;
    height: 150px;
    padding: 45px;
    font-weight: 900;
    color: white;
    font-size: 45px;
    
   }
    
   .d3{
    display: flex;
    justify-content: center;
    padding: 100px;
    

   }
    .d31{
           color: rgb(26, 26, 116);
           font-size: 35px;
           font-weight: 700;
           
    }


    .d32{
        font-size: 18px;
        padding: 15px 12px 15px 0px;
    
    }
    
    

   

 
    
   
   
   .eight img{
    border-radius: 0px 40px 0px 50px;
    box-shadow:-30px 30px rgb(46, 46, 118);
    

    
   
}


#pro{
    display: grid;
    
    
    
grid-template-columns: auto auto auto;


}
#pro div{
    width: 300px;
    height: 130px;
    display: flex;
    border: 2px;
    background-color: white;
    box-shadow: 5px 10px 10px 0px grey;
    margin: 40px;
    font-size: 35px;
border: 2px ;
    
}


#pro div #value1::after{

    content: "+";
    
}
    

#pro div:hover{
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    }

    #pro div p{
        font-weight: 500;
        
    }


    #des{
        background-image: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG1lZXRpbmd8ZW58MHx8MHx8fDA%3D);
   background-size: cover;
   padding: 100px;
   height: 900px;
    }
  
    #ch0{
        position: relative;
        left: 480px;
        top: 20px;
        font-size: 50px;
        font-weight: 800;
        color: blanchedalmond;
        
      
    }
    #chp{

        position: absolute;
    
        top: 2720px;
        left: 380px;

        font-size: 20px;
        color: rgb(237, 237, 242); 
        margin: 40px;      
       

    }
    #chpp{

        position: absolute;
    
        top: 2740px;
        left: 470px;

        font-size: 20px;
        color: rgb(241, 241, 247); 
        margin: 40px;      
       

    }
    #ch1{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: rgba(73, 70, 70,0.6);
        position: absolute;
        top: 0px;
        top: 2900px;
        left: 300px;
        
    }

    #ch2{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: rgb(70, 70, 70);
        position: absolute;
        top: 2900px;
        left: 625px;
    }
       

    #ch3{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: rgb(73, 70, 70);
        position: absolute;
        top: 2900px;
        left: 946px;
    }
       


    #ch4{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: skyblue;
        position: absolute;
        top: 3000px;
        left: 465px;
       
    }

    #ch5{clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: skyblue;
        position: absolute;
        top:3100px;
        left: 300px;
        
    }


    #ch6{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: skyblue;
        position: absolute;
        top: 3100px;
        left: 625px;
       
    }

    #ch7{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: skyblue;
        position: absolute;
        top: 3000px;
        left: 785px;
       
    }

    #ch8{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: skyblue;
        position: absolute;
        top: 3100px;
        left: 950px;
        
    }

    #ch9{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: rgb(70,73,73);
        position: absolute;
        top: 3200px;
        left: 465px;
        
    }
    #ch10{
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        width: 200px;
        height: 180px;
        background-color: rgb(70,73,73);
        position: absolute;
        top: 3200px;
        left: 785px;
        
    }
   

    #des div a p{
        text-decoration: none;
        color: aliceblue;
        text-align: center;
        font-size: 15px;
        bottom: 100px;
    }

    #des div a img{
    
margin: 15px 25px 30px 52px;
    }
    
  
    #formb form{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRADSBkJ6iq64e3dRlxLg-s611Wb_eFpURxsv_dZLUIdJY5r04_);
        
        width: 180%;
        background-size: cover;
        font-size: 15px;
    
        
        
    }


    #formb form div{
        margin-left: 30px;
        margin-top: 10px;
        justify-content: center;
        color: aliceblue;
    
        
    }

   

    #formb form div input{
        width: 85%;
        height: 30px;
        border-radius: px;
        border: 1px solid #ccc;
        
        font-size: 15px;
        color: aliceblue;

    }